
#course > .hero .heroCopy h2{
  font-size:32px !important;
  line-height:1.28 !important;
  letter-spacing:-1.3px !important;
}
#course > .hero .heroCopy h2 strong{
  font-size:inherit !important;
  line-height:inherit !important;
}
