
#learn .v130-high-card{
  grid-column:2;
  background:#edf9f0;
}
#learn .v130-high-title{
  color:#087b43 !important;
}
#learn .v130-high-copy{
  color:#087b43 !important;
}
#learn .v130-high-desc{
  color:#356f5b !important;
}
#learn .v130-high-arrow{
  background:#12a563 !important;
}
