
#learn .sectionTitle{
  margin-bottom:4px !important;
}
#learn .v123-grade-subtitle{
  margin-top:0 !important;
  margin-bottom:16px !important;
  padding:0 !important;
  text-indent:0 !important;
  position:relative !important;
}
